<a href="https://colab.research.google.com/github/sfxc-tsl/colab/blob/main/pylearn_01_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 1 - Variables and Types

Link to this notebook: [mco.fyi/py1](https://mco.fyi/py1)

**You should make your own copy of this notebook by selecting File->Save a copy in Drive from the menu bar above.**

Things you'll learn in this lesson:
- The basic data types you can work with in Python
- How to create and assign values to variables in Python
- How to call a function

## Variables

Any Python interpreter can be used as a calculator:

In [ ]:
print(3 + 5 * 4)

23

This is great but not very interesting.
To do anything useful with data, we need to assign its value to a _variable_.
In Python, we can assign a value to a variable using the equals sign `=`.

If a variable doesn’t already exist, when you assign to it, Python creates it on the fly. If you assign to a variable that already exists, Python replaces its current value with a new value.

Examples

    instructor = "marc"         # string value
    instructor = "my evil twin" # same name, diff string value
    instructor = 42             # same name, integer value
    todays_high_temp = 71.3     # diff name, floating point value

We can track the weight of a patient who weighs 60 kilograms by
assigning the value `60` to a variable `weight_kg`:

In [ ]:
weight_kg = 60
print(weight_kg)

60

From now on, whenever we use `weight_kg`, Python will substitute the value we assigned to it. In simpler terms, **a variable is a a reference to a value**.

In Python, variable names:

 - can include letters, digits, and underscores
 - cannot start with a digit
 - are case sensitive

This means that, for example:
 - `weight0` is a valid variable name, whereas `0weight` is not
 - `weight` and `Weight` are different variables

### Reserved Words

The following words have special meaning in Python. We call them keywords or reserved words and you may not use these names for your program variables.

> ```and, as, assert, break, class, continue, def, del, elif, else, except, False, finally, for, from, global, if, import, in, is, lambda, nonlocal, None, not, or, pass, raise, return, True, try, while, with, yield```

## Types of data
Python knows about several types of data. Three common ones are:

* integer numbers
* floating point numbers
* character strings

In the example above, variable `weight_kg` was assigned an integer value of `60`. If we want to more precisely track the weight of our patient,
we can use a floating point value by executing:

In [ ]:
weight_kg = 60.0
print(weight_kg)

60.0

To create a string, we add single or double quotes around some text.
To identify and track a patient throughout our study,
we can assign each person a unique identifier by storing it in a string:

In [ ]:
patient_id = "001"
print(patient_id)

001

## Numeric Types

Python supports two main types of numbers
* int, arbitrary size signed integers, like these:
  * `2011`
  * `-999999999999`
* float, arbitrary precision floating point numbers, like these:
  * `3.14159`
  * `3.8 * 10**6`

For the most part, you don't need to worry about which type of number to use - Python will take care of that for you. The decimal point tells Python which to use.

Mixing floats and ints results in a float so, for example, `2011 * 3.14` results in a floating point number.

Try entering these expressions in the following cell:

```
print(5 - 6)  
print(8 * 9)
print(6 / 2)
print(5.0 / 2)
print(5 % 2)  
print(2 * 10 + 3)  
print(2 * (10 + 3))  
print(2 ** 4)
```
Were there any outputs you didn't expect?

In [ ]:
print(5 - 6)
print(8 * 9)
print(6 / 2)
print(5.0 / 2)
print(5 % 2)
print(2 * 10 + 3)
print(2 * (10 + 3))
print(2 ** 4)

-1
72
3.0
2.5
1
23
26
16

## Using Variables in Python

Once we have data stored with variable names, we can make use of those variables in our calculations. We call these combinations of variables and values  **expressions**. When evaluating an expression, Python internally replaces the variable names with the values to which they refer.

We may want to store our patient's weight in pounds as well as kilograms:

In [ ]:
weight_lb = 2.2 * weight_kg
print(weight_lb)

132.0

We might also decide to add a prefix to our patient identifier:

In [ ]:
patient_id = "inflam_" + patient_id
print(patient_id)

inflam_001

## Built-in Python functions

To carry out common tasks with data and variables in Python,
the language provides us with several built-in functions.
To display information to the screen, we use the `print` function:

In [ ]:
print(weight_lb)
print(patient_id)

When we want to make use of a function, referred to as **calling the function**, we follow its name by parentheses. The parentheses are important: if you leave them off, the function doesn't actually run!

Sometimes you will include values or variables inside the parentheses for the function to use. In the case of `print`,
we use the parentheses to tell the function which value we want to display. We will learn more about how functions work and how to create our own in later lessons.

We can display multiple things at once using only one `print` function call:

In [ ]:
print(patient_id, "weight in kilograms:", weight_kg)

We can also call a function inside of another function call. For example, Python has a built-in function called `type` that tells you a value's data type:

In [ ]:
print(type(60.3))
print(type(patient_id))

We can also do arithmetic with variables right inside the `print` function:

In [ ]:
print("weight in pounds:", 2.2 * weight_kg)

Note that the above function call did not change the value of `weight_kg`:

In [ ]:
print(weight_kg)

To change the value of the `weight_kg` variable, we have to
**assign** a new value to `weight_kg` using the equals `=` sign:

In [ ]:
weight_kg = 65.0
print("weight in kilograms is now:", weight_kg)

## Variables as Sticky Notes *(courtesy of Software Carpentry)*

A variable in Python is analogous to a sticky note with a name written on it:
assigning a value to a variable is like putting that sticky note on a particular value.

![Value of 65.0 with weight_kg label stuck on it](https://raw.githubusercontent.com/mco-gh/python-novice-inflammation/gh-pages/fig/python-sticky-note-variables-01.svg)

Using this analogy, we can investigate how assigning a value to one variable
does **not** change values of other, seemingly related, variables.  For
example, let's store the subject's weight in pounds in its own variable:

In [ ]:
# There are 2.2 pounds per kilogram
weight_lb = 2.2 * weight_kg
print("weight in kilograms:", weight_kg, "and in pounds:", weight_lb)

![Value of 65.0 with weight_kg label stuck on it, and value of 143.0 with weight_lb label stuck on it](https://raw.githubusercontent.com/mco-gh/python-novice-inflammation/gh-pages/fig/python-sticky-note-variables-02.svg)

Similar to above, the expression `2.2 * weight_kg` is evaluated to `143.0`,
and then this value is assigned to the variable `weight_lb` (i.e. the sticky
note `weight_lb` is placed on `143.0`). At this point, each variable is
"stuck" to completely distinct and unrelated values.

Let's now change `weight_kg`:

In [ ]:
weight_kg = 100.0
print("weight in kilograms is now:", weight_kg, "and weight in pounds is still:", weight_lb)

![Value of 100.0 with label weight_kg stuck on it, and value of 143.0 with label weight_lb stuck on it](https://raw.githubusercontent.com/mco-gh/python-novice-inflammation/gh-pages/fig/python-sticky-note-variables-03.svg)

Since `weight_lb` doesn't "remember" where its value comes from,
it is not updated when we change `weight_kg`.

## Check Your Understanding

What values do the variables `mass` and `age` have after each of the following statements?

Guess before executing the lines below...

In [ ]:
mass = 47.5
print("mass is", mass)
print("age is", age)

mass is 47.5

NameError: name 'age' is not defined

In [ ]:
age = 122
print("mass is", mass)
print("age is", age)

mass is 47.5
age is 122

In [ ]:
mass = mass * 2.0
print("mass is", mass)
print("age is", age)

In [ ]:
age = age - 20
print("mass is", mass)
print("age is", age)

## Sorting Out References
Python allows you to assign multiple values to multiple variables in one line by separating the variables and values with commas. What does the following program print out?

In [ ]:
a, b = "Benji", "Maple"
print(a, b)

In [ ]:
first, second = "Grace", "Hopper"
third, fourth = second, first
print(third, fourth)

## Seeing Data Types

What are the data types of the following variables? Try to guess before executing the cell.

In [ ]:
planet = "Earth"
apples = 5
distance = 10.5
print(type(planet))
print(type(apples))
print(type(distance))

<class 'str'>
<class 'int'>
<class 'float'>

## Key Points
- Basic data types in Python include integers, strings, and floating-point numbers (among many others).
- Use `variable = value` to assign a value to a variable in order to store it in memory.
- Variables are created on demand whenever values are assigned to them.
- Use `print(something)` to display the value of `something`.
- Built-in functions are always available to use.

# Homework

Which of the following are legal Python variable names? First make a guess then copy these assignment statements into the next cell and run them.
```
average = 1
Max = 1
LadyGaGa = 1  
_Lady_Ga_Ga = 1
FiftyYardLine = 1    
50_yard_line = 1  
yard_line_50 = 1  
raise = 1  
my-cat-is-awesome = 1
my_cat_is_awesome = 1  
```

In one statement, calculate and print your weekly pay if you earn $100 every day.

In [ ]:
weekly_pay = 100
days_per_week = 5
print(weekly_pay * days_per_week)

500

Store your daily pay rate in a variable.

Use the variable to calculate and print your weekly pay.

Congratulations - you just got a raise. Your new daily pay rate is $120. Assign a new value to the daily pay variable. Then calculate and print your new weekly pay.

Store the number of days in a week in a variable. Then calculate and print your weekly pay.

In one statement, calculate your weekly pay rate using only variables and store the result in a new variable. Then print that new variable.

Calculate and print your weekly, monthly, and annual pay using only variables. Assume 30 days per month and 365 days per year.

Print the your first, middle, and last name, each on a separate line.

Print the your first, middle, and last name, all on one line.

Write a program to calculate the total number of hours in a fixed set of days, where the number of days is assigned to a variable.

Run the following cell to load a sample cars dataset into this notebook.

In [ ]:
from google.colab import data_table
from vega_datasets import data
cars = data.cars()
cars

,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,1970-01-01,USA
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,1970-01-01,USA
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,1970-01-01,USA
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,1970-01-01,USA
4,ford torino,17.0,8,302.0,140.0,3449,10.5,1970-01-01,USA
...,...,...,...,...,...,...,...,...,...
401,ford mustang gl,27.0,4,140.0,86.0,2790,15.6,1982-01-01,USA
402,vw pickup,44.0,4,97.0,52.0,2130,24.6,1982-01-01,Europe
403,dodge rampage,32.0,4,135.0,84.0,2295,11.6,1982-01-01,USA
404,ford ranger,28.0,4,120.0,79.0,2625,18.6,1982-01-01,USA
405,chevy s-10,31.0,4,119.0,82.0,2720,19.4,1982-01-01,USA

Run the next cell to examine one column of the table.

In [ ]:
cars["Miles_per_Gallon"]

Run the next cell to examine whether the column you just looked at has values above 20 miles per gallon.

In [ ]:
cars["Miles_per_Gallon"] > 20

Run the next cell to build upon your last statement to examine only the rows in the cars dataset for cars that have over 20 miles per gallon.

In [ ]:
cars[cars["Miles_per_Gallon"] > 20]

This is great but needing to change code and execute a cell every time we want to ask a question can get tedious and slows us down.

Execute the next cell to enable an interactive version of the `cars` table. Notice the addition of this line:
```
data_table.enable_dataframe_formatter()
```
This enables a more interactive way to explore data tables in Colab. Try these exercises:
- Examine different pages of the data table by clicking on the numbers on the bottom right.
- Click on a column header to sort the rows in the order that column's values.
- Click the *Filter* button on the upper right and enter values in some of the fields you see available for searching.
- Try using the filters to find the cars with more than 20 miles per gallon.

As you can see, this table is more interactive and easier to explore than the one you generated in the previous cell.

In [ ]:
data_table.enable_dataframe_formatter()
cars

From the menu bar, select Tools->Command Palette to see a list of the commands you can execute inside a Colab notebook. Most of these commands are intuitively named. For example, to save your notebook in Google Drive, run "Save notebook" now from the command palette. You can find it quickly by typing "save" in the search box.

Don't worry if you're not sure what some of the commands in the command palette do. For now, I just want you to know about this resource.

Congratulations for making it this far! Your last assignment is to watch this [short video](https://www.youtube.com/watch?v=inN8seMm7UI) and take a [quick tour of Colab](https://colab.research.google.com/notebooks/intro.ipynb).

**It's a good idea to save your work after a notebook session.** You can use the command palette to do this, as you just did in the previous cell, but since this is a common function, you'll see an easier way to save your notebook via the File->Save menu item.

[Previous Lesson](https://mco.fyi/py0)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
[Next Lesson](https://mco.fyi/py2)